[submodule "dependencies/BFO-2020"]
	path = dependencies/BFO-2020
	url = https://github.com/BFO-ontology/BFO-2020.git
	branch = master
[submodule "dependencies/UCO"]
	path = dependencies/UCO
	url = https://github.com/ucoProject/UCO.git
	branch = master
